
<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam, fugit impedit in magni quae
          recusandae sequi veritatis. Consectetur consequatur corporis doloribus et hic iusto magni nulla quae recusandae
          similique.</p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis commodi distinctio dolores eius facilis,
          inventore maxime molestias officiis quia quis ratione sed temporibus tenetur? Eos ipsum itaque nostrum odit?
          Incidunt!
        </p>
      </div>
    </div>
  </div>
</div>

