<div class="clear">
  <div class="row">
    <div class="col-3">
      <div class="avatar"></div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-3 col-sm-12">
    <div class="card">
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam architecto aut blanditiis, dolore
          eligendi esse facere laboriosam nemo neque nihil officia pariatur perferendis quam sed ut veritatis vero
          vitae.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam architecto aut blanditiis, dolore
          eligendi esse facere laboriosam nemo neque nihil officia pariatur perferendis quam sed ut veritatis vero
          vitae.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-12">
    <div class="card">
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam architecto aut blanditiis, dolore
          eligendi esse facere laboriosam nemo neque nihil officia pariatur perferendis quam sed ut veritatis vero
          vitae.
        </p>
      </div>
    </div>
  </div>
</div>
