.card {
  border-radius: 0;
  border: 2px solid #004085;
}

.center-block{
  display: block;
  margin-top: 0;
  margin-left: 0;
}

.card-header {
  background-color: #ffffff;
  color: #004085;
  font-size: 16px;
  border: 1px solid #004085;
  border-radius: 0;
}

input{
  border-radius: 0;
}

.btn-roma {
  color: #004085;
  font-family: 'America',sans-serif;
  font-size: 16px;
  border: 2px solid #004085;
  background-color: #ffffff;
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  cursor: pointer;
}

.btn-roma:hover{
  background-color:#ef4040;
  color: #ffffff;
  border: 2px solid #e21431;
}

a{
  text-decoration: none;
  font-size: 14px;
  color: #004085;
  font-family: 'America',sans-serif;
}

a:hover{
  color: #ef4040;
}

label{
  color: #004085;
  font-family: 'America',sans-serif;
  font-size: 16px;
}
