<header></header>
<nav>
    <div class="menu-icon">
        <i class="fa fa-bars" style="font-size:40px"></i>
    </div>
    <ul>
        <li><a href="" *ngIf="!loggedIn">Inicio</a></li>
        <li><a href="" *ngIf="!loggedIn">Nosotros</a></li>
        <li><a routerLink="signup" *ngIf="!loggedIn">Registrarse</a></li>
        <li><a routerLink="login" *ngIf="!loggedIn">Ingresar</a></li>
        <li><a routerLink="profile" *ngIf="loggedIn">Perfil</a></li>
        <li><a routerLink="logout" (click)="logout($event)" *ngIf="loggedIn">Cerrar session</a></li>
    </ul>
</nav>
