<header>
  <nav>
    <div class="menu-icon">
      <div class="line-top"></div>
      <div class="line-center"></div>
      <div class="line-bottom"></div>
    </div>
    <div class="logo">
      <img src="assets/img/logo.png" alt="">
      <a href="">Alianza Roma</a>
    </div>
    <div class="menu">
      <ul>
        <li><a href="">Inicio</a></li>
        <li><a href="">Registrarse</a></li>
        <li><a href="">Ingresar</a></li>
        <li><a href="">Profile</a></li>
        <li><a href="">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>

