nav ul {
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    padding: 0;
    transition: max-height 0.5s;
    opacity: 0.8;
    filter: alpha(opacity=25);
    position: fixed;
    text-align: right;
    z-index: 5;
    top:0;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #1d2124;
}

nav ul li a:hover {
    color: #ffffff;
}

nav ul li:hover {
    background-color: #d6e9f9;
    color: #000;
}

.menu-icon {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 15px;
    cursor: pointer;
    color: #ffffff;
    display: none;
    text-align: right;
}

@media (max-width: 580px) {
    header {
        display: none;
    }

    ul {
        width: 100%;
        display: none;
        margin-top: 70px;
    }

    .active {
        display: block;
        transition: width 2s;
    }

    nav ul li {
        display: block;
        text-align: center;
        border-bottom: 1px solid #17a2b8;
    }

    .menu-icon {
        display: block;
        width: 100%;
        background-color: #B6C2D6;
        color: rgba(43, 168, 255, 0.9);
        top: 0;
        position: fixed;
        z-index: 5;
        opacity: 0.8;
    }
}

